<h1><%= @student.first_name %></h1>

<h4> Addresses: </h4>
  <% @student.addresses.each do |address| %>
    <li><%= address.address %></li>
  <% end %>

<h4> Courses: </h4>
  <% @student.courses.each do |course| %>
    <li><%= link_to course.course_name, course_path(course.id) %></li>
  <% end %>

<%= link_to "Spoiled Brat Index", students_path %>
